.notification-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
  }

  /* styles/TrackingMap.css */

.tracking-map-container {
  display: flex;
  height: 90vh;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.map-container {
  flex: 1;
  position: relative;
}

.sidebar {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  right: 0;
  top: 50;
  height: 100%;
  width: 80%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  /* z-index: 999; */
}

.sidebar.open {
  transform: translateX(0);
  overflow-x: hidden;
}

.toggle-sidebar-button {
  position: absolute;
  top: 10px !important;
  right: 30px;
  width: 100px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 20;
}

.toggle-sidebar-button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .tracking-map-container {
    flex-direction: row;
  }

  .sidebar {
    position: static;
    transform: none;
    width: 40%;
    height: auto;
    box-shadow: none;
  }

  .toggle-sidebar-button {
    display: none;
  }

  .tracking-map-container.sidebar-open .sidebar {
    transform: none;
  }
}
