.navbar-custom {
  background-color: #1e5f1c !important; /* Green shade */
  display: flex;
  justify-content: center; /* Center the content */
  min-height: 50px;
  position: relative;
  /* z-index: 1; */
}

.navbar-brand-custom {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff !important;
}

.navbar-text-custom {
  color: #ffffff;
  margin-right: 20px;
}

.navbar-button-custom {
  color: #ffffff;
  border-color: #ffffff;
  margin-left: 10px;
}

.navbar-button-custom:hover {
  background-color: #ff3131a3;
  color: #ffffff;
  border-color: #ffffff;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Mobile view */
.navbar-brand-desktop {
  display: block;
}

.navbar-brand-mobile {
  display: none;
}

@media (max-width: 768px) {
  .navbar-brand-desktop {
    display: none;
  }

  .navbar-brand-mobile {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff !important;
  }

  .navbar-collapse {
    position: absolute;
    top: 50px; /* Position the menu just below the navbar */
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it is above other content */
    background: rgba(30, 90, 40, 0.9); /* Low opacity background */
  }

  .navbar-button {
    width: 100%;
    margin: 5px 0;
  }

  .navbar-text-custom {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}
